.container {
  background-color: rgb(168, 196, 187);
  border-radius: 10px;
  padding: 16px;
  width: 600px;
  min-height: 600px
}

button.btn {
  background-color: rgb(224, 224, 224);
  border-color: rgb(224, 224, 224);
}

.row {
  padding: 4px;
  border-radius: 6px;
}